.dashboard-layout {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.dashboard-left {
    flex: 0 0 40%;
    background: #242424;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    box-shadow: 4px 0 12px rgba(0,0,0,0.2);
}

.dashboard-buttons {
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.dashboard-btn {
    width: 600px;
    padding: 14px;
    text-align: center;
    border-radius: 8px;
    background: #333;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: block;
}

.dashboard-btn:hover {
    background: #444;
}

.logout-btn {
    background: #8b0000;
    width: 100%;
}

.logout-btn:hover {
    background: #a30000;
}

.dashboard-right {
    flex: 1;
    background-image: url("../assets/priroda.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
