.login-page {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 320px;
    display: flex;
    flex-direction: column;
    color: white;
}

.login-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.login-form input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #555;
    background: #222;
    color: white;
}

.login-form button {
    padding: 10px;
    background: #111;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

.login-form button:hover {
    background: #222;
}
